
/* 
nav{
    color: white!important;
} */

body{
    background-color: white;
}

.transparent-bg {
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
}  
.satu{
    background-image: url(../img/bglah.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

nav{
    /* background-color: navy; */
    background: white;
}

.header-text{
    /* color: white; */
}


.satu .projek-baru .gambar{
    height: 350px;
    width: auto;
    max-height: 700px;
    background-image: url(../img/contoh.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: top;
}

.dua p, .dua h2, .dua button{
    margin: 0;
    padding: 0;
}

.bg-transparan{
    border-radius: 5px;
    border: 1px solid #D0C1C1;
    background: linear-gradient(102deg, rgba(89, 89, 89, 0.54) -2.89%, rgba(255, 255, 255, 0.00) 127.61%);
}
.tiga .bg-transparan-height{
    height: 100px;
}

.tiga div p:nth-last-of-type(1), .tiga div p:nth-last-of-type(2){
    margin: 0;
    padding: 0;
}

.empat img, .lima img{
    max-width: 55%;
}

a{
    text-decoration: none;
    color: white;
}

.lima img{
    max-width: 80px;
}


@media (max-width: 575.98px) { 
    .tujuh div .display-2 {
    font-size: 100%;
}


@media (max-width: 767.98px) { 
    .lima img{
        max-width: 50px;
    }
}
